.title {
	text-align: center;
	padding: 4% 1% 1% 1%;
	letter-spacing: 0.25em;
	font-family: 'Lato', sans-serif;
}

.title h1 {
	font-weight: 700;
}

.title p {
	padding: 1% 0% 0% 0%;
	color: #C0C0C0;
}

.im {
	padding: 2% 0% 0% 0%;
}

.navcol a{
	color: #696969;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link{
	color: #D3D3D3;
}

